numpy
pandas
pyside6
sqlalchemy
pendulum
pydicom 
pylibjpeg[all]
pyjpegls
python-gdcm
pytest
pytest-qt
tensorflow
pyinstaller
matplotlib
totalsegmentator
pillow
twine
nibabel
openai-whisper  # Also needs ffmpeg  (install with HomeBrew)
pyaudio         # Also needs PortAudio (install with HomeBrew)
djangorestframework
djangorestframework-simplejwt
django-cors-headers