numpy
pandas
pyside6
sqlalchemy
pendulum
pydicom 
pylibjpeg[all]
pyjpegls
python-gdcm
pytest
tensorflow==2.15.0
# pyinstaller
matplotlib
totalsegmentator
scipy
# scikit-image
statistics
pillow
twine
nibabel
# openai-whisper  # Also needs ffmpeg  (install with HomeBrew)
# pyaudio         # Also needs PortAudio (install with HomeBrew)

# # Abhi's XNAT vertebrae selector
# fastapi
# uvicorn
# PyJWT
# python-decouple
# python-multipart
# tortoise-orm
# passlib
# bcrypt
# git+https://github.com/wasserth/TotalSegmentator.git
# pydicom
# nibabel
# xnat
# barbell2_bodycomp
